.home-banner {
  background-image: url('https://arundelhighnews.files.wordpress.com/2018/03/emperor-of-sand-banner.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

#banner-typed-text {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
